.footer {
  display: flex;
  justify-content: center;
  background-color: var(--footer-bg);
  border-top: 2px solid var(--footer-border);
  color: var(--footer-text);
}

.footerInner {
  display: flex;
  gap: 8px;
  align-items: center;
}