.header {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: white;
}

.headerInner{
  display: flex;
  justify-content: space-between;
  /* padding: 0 16px; */
}