.header {
  display: flex;
  justify-content: center;
  background-color: var(--header-bg);
  color: var(--header-text);
}

.headerInner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 16px; */
}

.wordmark{
  font-family: var(--font-geist-sans);
  font-weight: 600;
  letter-spacing: -0.04em;
  word-spacing: 0.15em;
}