.header {
  display: flex;
  justify-content: center;
  background-color: var(--header-bg);
  color: var(--header-text);
}

.headerInner{
  display: flex;
  justify-content: space-between;
  /* padding: 0 16px; */
}