.uxMessage {
  text-align: center;
  opacity: 0.4;
}

.readings_table {
  display: grid;
  font-size: 14px;
}

.reading_list_item{
  display: grid;
}

.row {
  display: grid;
  /* gap:25px; */
  /* border: 1px solid white; */
  grid-template-columns: 3fr repeat(3, minmax(60px, max-content));
  border-bottom: 1px solid var(--card-border);
  padding: 8px 0;
  font-family: monospace;
}

.reading:hover{
  background-color: var(--list-hover);
  cursor: pointer;
  text-shadow: none;
}

.row:last-child, .row:first-child{
  border: 0;
}

.row span{
  align-self: center;
}

.readings_table .header {
  /* font-weight: bold; */
  padding: 0 0 16px 0;
  opacity: 0.7;
}

.value{
  justify-self: center;
}