.message {
  animation: fadeOut 0.5s ease-in-out 3s forwards;
}

.message:hover {
  opacity: 0.9;
  animation-play-state: paused;
}

.infoMessage {
  color: inherit;
}
.errorMessage {
  color: #d50000;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
